@import "~styles/variables.scss";

.item-container {
	height: 3rem;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	background-color: $shade;
	border: 1px solid $medium;

	.item-title {
		margin-left: 1rem;
		flex-grow: 1;

		input {
			background-color: transparent;
    		border: 0;
			color: $font-color;
			height: 2rem;
			font-size: 1rem;
			width: 100%;
		}

		input:focus {
			outline: 0;
		}
	}

	.item-controls {
		margin-right: 0.5rem;
		display: flex;
    	align-items: center;

		i {
			opacity: 0.75;

			&:hover {
				cursor: pointer;
				opacity: 1;
			}

			&.done {
				color: #14B259;
			}
			&.pause {
				color: #FFED51;
			}
			&.clear {
				color: #E8142A;
			}
		}
	}
}