@import "~styles/variables.scss";

.item-container {
	height: 3rem;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	background-color: $shade;
	border: 1px solid $medium;

	&:not(.selected):hover {
		cursor: pointer;
		background-color: $dark;
	}
	&.new {
		opacity: 0.5;

		.item-controls {
			width: auto;
			margin-right: 0.5rem;
			line-height: 0;
			vertical-align: middle;
		}
	}
	&.paused {
		color: $pause;
	}
	&.complete {
		color: $go;
	}
	&.important {
		color: $important;
	}
	&.selected {
		background-color: $dark;

		.item-title {
			display: none;
		}
		.item-controls {
			display: flex;
		}
	}
	&:not(.new):not(.selected) {
		.item-controls {
			display: none;
		}
	}

	.item-title {
		text-align: center;
		margin-left: 1rem;
		flex-grow: 1;

		input {
			background-color: transparent;
    		border: 0;
			color: $font-color;
			height: 2rem;
			font-size: 1rem;
			width: 100%;

			&:hover {
				cursor: pointer;
			}
			&:focus {
				outline: 0;
				cursor: text;
			}

			&::-webkit-input-placeholder {
				color: $light;
			}
			&:-moz-placeholder {
				/* FF 4-18 */
				color: $light;
			}
			&::-moz-placeholder {
				/* FF 19+ */
				color: $light;
			}
			&:-ms-input-placeholder {
				/* IE 10+ */
				color: $light;
			}
		}
	}

	.item-controls {
    	align-items: center;
		text-align: center;
		width: 100%;

		span {
			flex-grow: 1;
			height: 3rem;
			display: flex;
			align-items: center;

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
			&.done:hover, &.done:active {
				color: $light;
				background-color: $go;
			}
			&.pause:hover, &.pause:active {
				color: $light;
				background-color: $pause;
			}
			&.clear:hover, &.clear:active {
				color: $light;
				background-color: $stop;
			}
			&.important:hover, &.important:active {
				color: $light;
				background-color: $important;
			}

			i {
				margin: 0 auto;
			}
		}

		.done {
			color: $go;
		}
		.pause {
			color: $pause;
		}
		.clear {
			color: $stop;
		}
		.important {
			color: $important;
		}
	}
}