$highlight: #DC3522;
$light: #D9CB9E;
$dark: #1E1E20;
$medium: #374140;
$shade: #2A2C2B;

$go: #14B259;
$pause: #FFED51;
$stop: #E8142A;

$font-color: #F7F7F7;

$bg-color: $dark;

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;