// dark
$highlight: #DC3522;
$light: #D9CB9E;
$dark: #1E1E20;
$medium: #374140;
$shade: #2A2C2B;

/*
// pastel blue
$highlight: #FF6138;
$light: #FFFF9D;
$dark: #00A388;
$medium: #BEEB9F;
$shade: #79BD8F;
*/

/*
// brown
$highlight: #FF712C;
$light: #A1E8D9;
$dark: #695D46;
$medium: #FFF6C5;
$shade: #CFC291;
*/

/*
// purple
$highlight: #F77A52;
$light: #FF974F;
$dark: #332532;
$medium: #A49A87;
$shade: #644D52;
*/

$go: #14B259;
$pause: #FFED51;
$stop: #E8142A;
$important: #2980B9;

$font-color: #F7F7F7;

$bg-color: $dark;

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;