/* You can add global styles to this file, and also import other style files */
body {
	color: #F7F7F7;
	background-color: #282D33;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}